################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/

appsettings.json
appsettings.*.json
!appsettings.Example.json