################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin/
obj/

/Application/bin/Debug/net10.0/Application.dll
/Application/bin/Debug/net10.0/Application.pdb
/Application/bin/Debug/net10.0/Domain.dll
/Application/bin/Debug/net10.0/Domain.pdb
/Application/obj/Debug/net10.0/Application.AssemblyInfo.cs
/Application/obj/Debug/net10.0/Application.AssemblyInfoInputs.cache
/Application/obj/Debug/net10.0/refint/Application.dll
/Application/obj/Debug/net10.0/ref/Application.dll
/Application/obj/Debug/net10.0/Application.assets.cache
/Application/obj/Debug/net10.0/Application.csproj.AssemblyReference.cache
/Application/obj/Debug/net10.0/Application.csproj.CoreCompileInputs.cache
/Application/obj/Debug/net10.0/Application.csproj.FileListAbsolute.txt
/Application/obj/Debug/net10.0/Application.dll
/Application/obj/Debug/net10.0/Application.GeneratedMSBuildEditorConfig.editorconfig
/Application/obj/Debug/net10.0/Application.GlobalUsings.g.cs
/Application/obj/Debug/net10.0/Application.pdb
/Application/obj/Debug/net10.0/Application.sourcelink.json
/Application/obj/Application.csproj.nuget.dgspec.json
/Application/obj/Application.csproj.nuget.g.props
/Application/obj/project.assets.json
/Application/obj/project.nuget.cache
/Domain/bin/Debug/net8.0/Domain.dll
/Domain/bin/Debug/net8.0/Domain.pdb
/Domain/obj/Debug/net8.0/ref/Domain.dll
/Domain/obj/Debug/net8.0/refint/Domain.dll
/Infrastructure/bin/Debug/net10.0/Application.dll
/Infrastructure/bin/Debug/net10.0/Application.pdb
/Infrastructure/bin/Debug/net10.0/Domain.dll
/Infrastructure/bin/Debug/net10.0/Domain.pdb
/Infrastructure/bin/Debug/net10.0/Infrastructure.dll
/Infrastructure/bin/Debug/net10.0/Infrastructure.pdb
/Infrastructure/bin/Debug/net10.0/Infrastructure.runtimeconfig.json
/Infrastructure/obj/Debug/net10.0/ref/Infrastructure.dll
/Infrastructure/obj/Debug/net10.0/refint/Infrastructure.dll
/Infrastructure/obj/Debug/net10.0/Infrastructure.AssemblyInfo.cs
/Infrastructure/obj/Debug/net10.0/Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/obj/Debug/net10.0/Infrastructure.assets.cache
/Infrastructure/obj/Debug/net10.0/Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/obj/Debug/net10.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net10.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net10.0/Infrastructure.dll
/Infrastructure/obj/Debug/net10.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/obj/Debug/net10.0/Infrastructure.genruntimeconfig.cache
/Infrastructure/obj/Debug/net10.0/Infrastructure.GlobalUsings.g.cs
/Infrastructure/obj/Debug/net10.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net10.0/Infrastructure.sourcelink.json
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/Infrastructure/obj/Infrastructure.csproj.nuget.g.props
/Infrastructure/obj/Infrastructure.csproj.nuget.g.targets
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/project.nuget.cache
/UI/bin/Debug/net10.0-windows/Application.dll
/UI/bin/Debug/net10.0-windows/Application.pdb
/UI/bin/Debug/net10.0-windows/Domain.dll
/UI/bin/Debug/net10.0-windows/Domain.pdb
/UI/bin/Debug/net10.0-windows/Infrastructure.dll
/UI/bin/Debug/net10.0-windows/Infrastructure.pdb
/UI/bin/Debug/net10.0-windows/UI.dll
/UI/bin/Debug/net10.0-windows/UI.exe
/UI/bin/Debug/net10.0-windows/UI.pdb
/UI/bin/Debug/net10.0-windows/UI.runtimeconfig.json
/UI/obj/Debug/net10.0-windows/ref/UI.dll
/UI/obj/Debug/net10.0-windows/apphost.exe
/UI/obj/Debug/net10.0-windows/refint/UI.dll
/UI/obj/Debug/net10.0-windows/UI.AssemblyInfo.cs
/UI/obj/Debug/net10.0-windows/UI.AssemblyInfoInputs.cache
/UI/obj/Debug/net10.0-windows/UI.assets.cache
/UI/obj/Debug/net10.0-windows/UI.csproj.AssemblyReference.cache
/UI/obj/Debug/net10.0-windows/UI.csproj.CoreCompileInputs.cache
/UI/obj/Debug/net10.0-windows/UI.csproj.FileListAbsolute.txt
/UI/obj/Debug/net10.0-windows/UI.dll
/UI/obj/Debug/net10.0-windows/UI.GeneratedMSBuildEditorConfig.editorconfig
/UI/obj/Debug/net10.0-windows/UI.genruntimeconfig.cache
/UI/obj/Debug/net10.0-windows/UI.GlobalUsings.g.cs
/UI/obj/Debug/net10.0-windows/UI.pdb
/UI/obj/Debug/net10.0-windows/UI.sourcelink.json
/UI/obj/Debug/net10.0-windows/UI_MarkupCompile.cache
/UI/obj/Debug/net10.0-windows/UI_MarkupCompile.lref
/UI/obj/project.assets.json
/UI/obj/project.nuget.cache
/UI/obj/UI.csproj.nuget.dgspec.json
/UI/obj/UI.csproj.nuget.g.props
/UI/obj/UI.csproj.nuget.g.targets
